*{
    margin: 0;
    padding: 0;
}

.primaria{
    background: pink;
    position: relative;
    min-height: 150px;
}
.ativo{
    background: blue;
    position: absolute;
    top: 0;
    left: 180px;
}
.primaria p{
    display: inline-block;
    padding: 30px;
}
.secundaria{
    display: none;
}
.secundaria p{
    display: inline-block;
}
.ativo:hover .secundaria{
    display: block;
}